* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    display: block;
    background-color: gray;
    color: white;
    font-weight: 900;
    width: 227px;
    text-align: center;
    font-family: Arial;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    text-shadow: 2px 2px 2px rgb(36, 33, 33);
    text-decoration: underline;
}

img {
    width: 100vw;   
}

